################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ADM_HW3.sln
/ADM_HW3.pyproj
/ADM_HW3.pyproj.user
/__pycache__
